.footer__column-link {
  display: block;
  color: #f2f2f2;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  position: relative;
  transition: all 1s ease 0s;
}

.footer__column-link::after {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 7px;
  left: 0px;
  content: "";
}
.footer__column-link:hover {
  opacity: .5;
}
