.section-subtitle {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  padding: 0px;
  z-index: 1;
}

.techniques__section-subtitle {
  margin-bottom: 0px;
}
